#root,
.app {
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a9a9a9;
}

.color-changer {
  width: 100%;
  max-width: 200px;
  margin-inline: auto;
}

.color-changer input {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.color-changer p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-top: 4px;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  color: #fff; 
}